.roulette {
    border-spacing: 0;

    td {
        text-align: center;
        width: 20px;
        height: 20px;
        padding: 15px;
        border: 1px solid rgb(155, 155, 155);
        font-size: 20px;

        &.empty {
            border: none;
        }

        &.red {
            color: white;
            background-color: #FF0000;

            &:hover {
                cursor: pointer;
                background-color: #FF000060;
            }
        }

        &.black {
            color: white;
            background-color: #000000;

            &:hover {
                cursor: pointer;
                background-color: #00000060;
            }
        }

        &.green {
            color: white;
            background-color: #175117;

            &:hover {
                cursor: pointer;
                background-color: #17511760;
            }
        }

        &.white {
            color: white;
            background-color: transparent;

            &:hover {
                cursor: pointer;
                background-color: #FFFFFF60;
            }
        }

    }
}