.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 20px;
    background-color: black;

    label {
        color: white;
        font-size: 20px;
    }

    .user {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        height: 35px;
        padding: 0px 1px;

        .avatar {
            position: absolute;
            width: 35px;
            height: 35px;
            border-radius: 100px;
            background-color: red;
        }

        .money {
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: center;
            padding: 0px 10px;
            width: 100%;
            gap: 10px;

            .amount {
                color: #FFFFFF;
            }

            .devise {
                color: #FFFFFF;
            }
        }
    }
}